<div class="question--wrapper">
    <h2 class="question">{{data.questionText}}</h2>
    <ul class="answer--wrapper">
        <li *ngFor="let answer of data.options;let indexOfElement = index" class="answer">
            <input type="checkbox" [name]="answer" [value]="answer" [id]="indexOfElement+'-'+data.question_no" (change)="handleCheckbox($event)">
            <label [for]="indexOfElement+'-'+data.question_no">{{answer}}</label>
        </li>
    </ul>
    <p class="question-description">{{data.other_options?data.other_option:null}}</p>
</div>
