<div class="container-fluid">
    <!-- ====================================================== -->
    <div>
        <button class="btn btn-0EA5C6 mx-2" (click)="Blog()">Blogs</button>
        <button class="btn btn-0EA5C6 mx-2" (click)="Course()">Courses</button>
    </div>
    <div class="row px-5 pt-3">
        <div *ngIf="blogs" class="col-md-12">
            <h1>Blogs</h1>
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-shadow mb-4">
                        <div class="card-body p-0">
                            <div class="row">
                                <div class="col-md-12">
                                    <img src="assets/img-1.jpg" class="blogimg">
                                </div>
                            </div>
                            <div class="row p-4">
                                <div class="col-md-12">
                                    <span class="badge mt-2">Photography</span>
                                    <h4 class="my-3">
                                        <b>There are many variations of passages of Lorem</b>
                                    </h4>
                                    <p class="text-muted" style="height: 70px; overflow-y: hidden;">
                                        The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Cum sociis natoque penatibus et magnis.
                                    </p>
                                    <!-- <hr class="hr-dashed" style="color: #0EA5C6;"> -->
                                    <div class="row">
                                        <div class="col-md-2">
                                            <img src="assets/userpic.png" alt="" class="userimg">
                                        </div>
                                        <div class="col-md-6">
                                            <b class="m-0">Mark</b>
                                            <p>01/12/2021</p>
                                        </div>
                                        <div class="col-md-4 mt-4">
                                            <a style="color: #0EA5C6; cursor: pointer;">Read more <i class="fa fa-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-shadow mb-4">
                        <div class="card-body p-0">
                            <div class="row">
                                <div class="col-md-12">
                                    <img src="assets/img-2.jpg" class="blogimg">
                                </div>
                            </div>
                            <div class="row p-4">
                                <div class="col-md-12">
                                    <span class="badge mt-2">Photography</span>
                                    <h4 class="my-3">
                                        <b>There are many variations of passages of Lorem</b>
                                    </h4>
                                    <p class="text-muted" style="height: 70px; overflow-y: hidden;">
                                        The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Cum sociis natoque penatibus et magnis.
                                    </p>
                                    <!-- <hr class="hr-dashed" style="color: #0EA5C6;"> -->
                                    <div class="row">
                                        <div class="col-md-2">
                                            <img src="assets/userpic.png" alt="" class="userimg">
                                        </div>
                                        <div class="col-md-6">
                                            <b class="m-0">Mark</b>
                                            <p>01/12/2021</p>
                                        </div>
                                        <div class="col-md-4 mt-4">
                                            <a style="color: #0EA5C6; cursor: pointer;">Read more <i class="fa fa-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-shadow mb-4">
                        <div class="card-body p-0">
                            <div class="row">
                                <div class="col-md-12">
                                    <img src="assets/img-3.jpg" class="blogimg">
                                </div>
                            </div>
                            <div class="row p-4">
                                <div class="col-md-12">
                                    <span class="badge mt-2">Photography</span>
                                    <h4 class="my-3">
                                        <b>There are many variations of passages of Lorem</b>
                                    </h4>
                                    <p class="text-muted" style="height: 70px; overflow-y: hidden;">
                                        The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Cum sociis natoque penatibus et magnis.
                                    </p>
                                    <!-- <hr class="hr-dashed" style="color: #0EA5C6;"> -->
                                    <div class="row">
                                        <div class="col-md-2">
                                            <img src="assets/userpic.png" alt="" class="userimg">
                                        </div>
                                        <div class="col-md-6">
                                            <b class="m-0">Mark</b>
                                            <p>01/12/2021</p>
                                        </div>
                                        <div class="col-md-4 mt-4">
                                            <a style="color: #0EA5C6; cursor: pointer;">Read more <i class="fa fa-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="!blogs" class="col-md-12">
            <h1>Courses</h1>
            <div class="row">
                
            </div>
        </div>
    </div>
    <!-- ====================================================== -->
</div>