<div class="container-fluid">
    <!-- ====================================================== -->
    <h1>Blogs</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="card card-shadow mb-4">
                <div class="card-body">
                    <!-- <i class="fa fa-trash fs-6 text-danger d-flex justify-content-end" title="Delete" style="margin-top:-10px; cursor: pointer;"></i> -->
                    <img src="assets/img-1.jpg" width="100%">
                    <span class="badge mt-2">Photography</span>
                    <h4 class="my-3">
                        <a>There are many variations of passages of Lorem</a>
                    </h4>
                    <p class="text-muted" style="height: 70px; overflow-y: hidden;">
                        The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Cum sociis natoque penatibus et magnis.
                    </p>
                    <hr class="hr-dashed" style="color: #0EA5C6;">
                    <div class="row">
                        <div class="col-md-2">
                            <img src="assets/userpic.png" alt="" class="userimg">
                        </div>
                        <div class="col-md-6">
                            <h6 class="m-0">Mark</h6>
                            <p>01/12/2021</p>
                        </div>
                        <div class="col-md-4 mt-4">
                            <a style="color: #0EA5C6; cursor: pointer;">Read more <i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-shadow mb-4">
                <div class="card-body">
                    <!-- <i class="fa fa-times fs-6 text-danger d-flex justify-content-end" title="Delete" style="margin-top:-10px; cursor: pointer;"></i> -->
                    <img src="assets/img-2.jpg" width="100%">
                    <span class="badge mt-2">Photography</span>
                    <h4 class="my-3">
                        <a>There are many variations of passages of Lorem</a>
                    </h4>
                    <p class="text-muted" style="height: 70px; overflow-y: hidden;">
                        The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Cum sociis natoque penatibus et magnis.
                    </p>
                    <hr class="hr-dashed" style="color: #0EA5C6;">
                    <div class="row">
                        <div class="col-md-2">
                            <img src="assets/userpic.png" alt="" class="userimg">
                        </div>
                        <div class="col-md-6">
                            <h6 class="m-0">Mark</h6>
                            <p>01/12/2021</p>
                        </div>
                        <div class="col-md-4 mt-4">
                            <a style="color: #0EA5C6; cursor: pointer;">Read more <i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-shadow mb-4">
                <div class="card-body">
                    <!-- <i class="fa fa-times fs-6 text-danger d-flex justify-content-end" title="Delete" style="margin-top:-10px; cursor: pointer;"></i> -->
                    <img src="assets/img-3.jpg" width="100%">
                    <span class="badge mt-2">Photography</span>
                    <h4 class="my-3">
                        <a>There are many variations of passages of Lorem</a>
                    </h4>
                    <p class="text-muted" style="height: 70px; overflow-y: hidden;">
                        The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Cum sociis natoque penatibus et magnis.
                    </p>
                    <hr class="hr-dashed" style="color: #0EA5C6;">
                    <div class="row">
                        <div class="col-md-2">
                            <img src="assets/userpic.png" alt="" class="userimg">
                        </div>
                        <div class="col-md-6">
                            <h6 class="m-0">Mark</h6>
                            <p>01/12/2021</p>
                        </div>
                        <div class="col-md-4 mt-4">
                            <a style="color: #0EA5C6; cursor: pointer;">Read more <i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ====================================================== -->
</div>