.border
{
    border: 1px solid #0EA5C6 !important;
}
.price_video
{
    display: none;
}
.price_vr
{
    display: none;
}
.price_txt
{
    display: none;
}
.price_display
{
    display: inline !important;
}
.dis-ami{
    background-color: #0EA5C6;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
  }
  .socialicon a
  {
    color: #0EA5C6;
  }
  .socialicon a:hover
  {
    color: #79C4D5;
  }
  @keyframes example {
    0%   {background-color:#0EA5C6; right:0px; top:-10px;}
    25%  {background-color:#79C4D5; right:160px; top:-10px;}
    50%  {background-color:#0EA5C6; right:160px; top:10px;}
    75%  {background-color:#79C4D5; right:0px; top:10px;}
    100% {background-color:#0EA5C6; right:0px; top:0px;}
  }