<div class="container-fluid">
    <!-- =============================================================================== -->
    <h1 class="mb-0">Payment History</h1>
    <div class="row p-3">
        <div class="card card-shadow">
          <div class="card-body">
              <table class="table table-striped">
                  <thead style="color:#667085">
                    <tr>
                      <th scope="col" width="6%">Id</th>
                      <th scope="col">Doctor</th>
                      <th scope="col">Amount Paid</th>
                      <th scope="col">Slot</th>
                      <th scope="col">Date</th>
                      <th scope="col">Payment Status</th>
                      <th scope="col">Appointment Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td><img src="assets/userpic.png" height="30px" width="30px">&nbsp;Mark</td>
                      <td>$ 50.00</td>
                      <td>12:00 - 01:00</td>
                      <td>13/12/2021</td>
                      <td>Successfull</td>
                      <td>Upcoming</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td><img src="assets/userpic.png" height="30px" width="30px">&nbsp;Mark</td>
                      <td>$ 50.00</td>
                      <td>12:00 - 01:00</td>
                      <td>13/12/2021</td>
                      <td>Successfull</td>
                      <td>Successfull</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td><img src="assets/userpic.png" height="30px" width="30px">&nbsp;Mark</td>
                      <td>$ 50.00</td>
                      <td>12:00 - 01:00</td>
                      <td>13/12/2021</td>
                      <td>Failed</td>
                      <td>Not Booked</td>
                    </tr>
                    <tr>
                      <th scope="row">4</th>
                      <td><img src="assets/userpic.png" height="30px" width="30px">&nbsp;Mark</td>
                      <td>$ 50.00</td>
                      <td>12:00 - 01:00</td>
                      <td>13/12/2021</td>
                      <td>Successfull</td>
                      <td>Successfull</td>
                    </tr>
                  </tbody>
                </table>
          </div>
      </div>
      </div>
    <!-- =============================================================================== -->
</div>