<div class="largest-cont">
  <div class="lcr">
    <div class="lcrl">
      <img src="./assets/images/online_test_amico_1.svg" alt="" />
    </div>
    <div class="lcrr">
      <p class="one">01</p>
      <p class="ta">Take Assessment</p>
      <p class="lcrr-main-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem duis
        velit urna, ut amet. Et quisque mi urna cras scelerisque enim. Id justo,
        lectus cras sed ullamcorper congue. Sit id volutpat ultrices suspendisse
        suspendisse etiam fringilla.
      </p>
    </div>
  </div>
  <div class="lcr">
    <div class="lcrr">
      <p class="one">02</p>
      <p class="ta">Find your Therapist Match</p>
      <p class="lcrr-main-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem duis
        velit urna, ut amet. Et quisque mi urna cras scelerisque enim. Id justo,
        lectus cras sed ullamcorper congue. Sit id volutpat ultrices suspendisse
        suspendisse etiam fringilla.
      </p>
    </div>
    <div class="lcrl">
      <img src="./assets/images/mobile_note_list_amico_1.svg" alt="" />
    </div>
  </div>
  <div class="lcr">
    <div class="lcrl">
      <img src="./assets/images/choose_amico_1.svg" alt="" />
    </div>
    <div class="lcrr">
      <p class="one">03</p>
      <p class="ta">Select your Therapy Plan</p>
      <p class="lcrr-main-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem duis
        velit urna, ut amet. Et quisque mi urna cras scelerisque enim. Id justo,
        lectus cras sed ullamcorper congue. Sit id volutpat ultrices suspendisse
        suspendisse etiam fringilla.
      </p>
    </div>
  </div>
  <div class="lcr">
    <div class="lcrr">
      <p class="one">04</p>
      <p class="ta">Begin Therapy</p>
      <p class="lcrr-main-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem duis
        velit urna, ut amet. Et quisque mi urna cras scelerisque enim. Id justo,
        lectus cras sed ullamcorper congue. Sit id volutpat ultrices suspendisse
        suspendisse etiam fringilla.
      </p>
    </div>
    <div class="lcrl">
      <img src="./assets/images/psychologist_amico_1.svg" alt="" />
    </div>
  </div>
</div>
