<div class="file-upload-progress" [ngClass]="{'file-upload-progress-disabled':!isVisible}">
    <img [src]="icon" class="icon" alt="">
    <div class="file-name-and-progress">
        <p class="file-name">{{fileName}} imported</p>
        <div class="progress-wrapper">
            <div class="progress" style="width: 100%"></div>
        </div>
    </div>
    <div class="close-and-percentage">
        <i class="fas fa-times close-icon" (click)="closeProgress()"></i>
        <p class="progress-percentage">100%</p>
    </div>
</div>