<div class="faq" id="therapy">
  <div class="faq-overlay">
    <img src="./assets/images/scott_graham_unsplash_1.svg" alt="" />
    <h4>
      All your questsions are very important to us and help us grow better
    </h4>
  </div>
  <div class="accordion" id="faq-accordion">
    <h4>Frequently Asked Questions</h4>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseOne"
          aria-expanded="false"
          aria-controls="collapseOne"
        >
          Who are the counselors?
        </button>
      </h2>
      <div
        id="collapseOne"
        class="accordion-collapse collapse"
        aria-labelledby="headingOne"
        data-bs-parent="#faq-accordion"
      >
        <div class="accordion-body">
          Counselors on Leapify are licensed, trained, experienced, and
          accredited psychologists (PhD / PsyD), marriage and family therapists
          (LMFT), clinical social workers (LCSW / LMSW), or licensed
          professional counselors (LPC). All of them have a Masters Degree or a
          Doctorate Degree in their field. They have been qualified and
          certified by their state's professional board after successfully
          completing the necessary education, exams, training and practice.
          While their experience, expertise and background vary, they all
          possess at least 3 years and 1,000 hours of hands-on experience. Click
          here to learn more about the counselors.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseTwo"
          aria-expanded="false"
          aria-controls="collapseTwo"
        >
          How are the counselors verified?
        </button>
      </h2>
      <div
        id="collapseTwo"
        class="accordion-collapse collapse"
        aria-labelledby="headingTwo"
        data-bs-parent="#faq-accordion"
      >
        <div class="accordion-body">
          Our team ensures that every provider we bring to the platform is fully
          licensed and in good standing. Providers who apply are required to
          provide proper licensure documentation, proof of identity, and
          references from other licensed practitioners who have worked with
          them. We then cross-check their licensure information with their
          respective state licensing board. In addition to checking credentials,
          each potential provider needs to complete a case study exam by a
          licensed clinician and a be evaluated in a video interview. The result
          of this rigorous 4-5 week process is that only about 15% of the
          therapists who apply to work through BetterHelp are accepted to the
          platform.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseThree"
          aria-expanded="false"
          aria-controls="collapseThree"
        >
          I signed up. How long until i'm matched with the counselor?
        </button>
      </h2>
      <div
        id="collapseThree"
        class="accordion-collapse collapse"
        aria-labelledby="headingThree"
        data-bs-parent="#faq-accordion"
      >
        <div class="accordion-body">
          This process can take a few hours or a few days, depending on
          counselor availability. Don't worry, your subscription period starts
          when you are matched with a counselor.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFour">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseFour"
          aria-expanded="false"
          aria-controls="collapseFour"
        >
          How do video sessions work?
        </button>
      </h2>
      <div
        id="collapseFour"
        class="accordion-collapse collapse"
        aria-labelledby="headingFour"
        data-bs-parent="#faq-accordion"
      >
        <div class="accordion-body">
          You can also have a video session with your counselor where you see
          each other and talk with each other in a virtual face-to-face setting
          (similar to Skype). To talk with your counselor via video, you will
          need to schedule a time with your counselor and log in to your
          counseling room at that time. Your counselor will then prompt you to
          start the video session. After you confirm, you will immediately begin
          video chatting with your counselor.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFive">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseFive"
          aria-expanded="false"
          aria-controls="collapseFive"
        >
          How will I communicate with my counselor?
        </button>
      </h2>
      <div
        id="collapseFive"
        class="accordion-collapse collapse"
        aria-labelledby="headingFive"
        data-bs-parent="#faq-accordion"
      >
        <div class="accordion-body">
          You can get counseling in four ways: Exchanging messages with your
          counselor Chatting live with your counselor Speaking over the phone
          with your counselor Video conferencing with your counselor You can use
          different ways at different times as you wish, based on your needs,
          availability, and convenience.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingSix">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseSix"
          aria-expanded="false"
          aria-controls="collapseSix"
        >
          How will I pay for my membership?
        </button>
      </h2>
      <div
        id="collapseSix"
        class="accordion-collapse collapse"
        aria-labelledby="headingSix"
        data-bs-parent="#faq-accordion"
      >
        <div class="accordion-body">
          Your membership payments will be charged to a credit card or PayPal on
          a recurring basis. If you accomplish your goals or if you find online
          counseling with BetterHelp to no longer be helpful for any reason, you
          can simply cancel the subscription.
        </div>
      </div>
    </div>
  </div>
</div>
