<div class="landing">
  <div class="landing-left">
    <p>
      Easily connect with top <br />
      therapists from <br />
      anywhere - instantly
    </p>
    <button mat-raised-button routerLink="/startup" class="btn landing-btn-gs" type="button">
      Get Started
    </button>
  </div>
  <div class="landing-right">
    <img src="assets/images/connected_world_amico.svg" alt="" />
  </div>
</div>

<!-- WHY LEAPIFYTALK -->
<div class="wlt">
  <h1>Why LeapifyTalk?</h1>
  <div class="wlt-part d-flex justify-content-center">
    <div class="wlt-card">
      <img src="./assets/images/care_1.svg" alt="" />
      <div class="wc-text">
        <h4>Custom Therapy Plans</h4>
        <p>
          Custom therapy plans built to help you get the most out of each
          session.
        </p>
      </div>
    </div>
    <div class="wlt-card">
      <img src="./assets/images/mobile.svg" alt="" />
      <div class="wc-text">
        <h4>Chat,Video,Phone</h4>
        <p>Communicate across all your devices - at your convenience.</p>
      </div>
    </div>
    <div class="wlt-card">
      <img src="./assets/images/job_seeker_1.svg" alt="" />
      <div class="wc-text">
        <h4>Personalized Match</h4>
        <p>
          Take our simple assessment to get matched with the perfect therapist
          to fit your needs.
        </p>
      </div>
    </div>
  </div>
  <div class="wlt-part d-flex justify-content-center">
    <div class="wlt-card">
      <img src="./assets/images/id.svg" alt="" />
      <div class="wc-text">
        <h4>Top licensed Therapist</h4>
        <p>
          Custom therapy plans built to help you get the most out of each
          session.
        </p>
        <p></p>
      </div>
    </div>
    <div class="wlt-card">
      <img src="./assets/images/web.svg" alt="" />
      <div class="wc-text">
        <h4>Client portal</h4>
        <p>
          Log into your portal to book appointments, check therapy updates,
          download worksheets, and more.
        </p>
      </div>
    </div>
    <div class="wlt-card">
      <img src="./assets/images/lock.svg" alt="" />
      <div class="wc-text">
        <h4>Security features</h4>
        <p>
          A fully HIPAA compliant platform to ensure complete client privacy.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- OVERLAY -->

<div class="overlay">
  <img class="overlay-img" src="./assets/images/mask_group_4.svg" alt="" />
  <h4>Therapy across all your devices</h4>
  <div class="overlay-bullets">
    <p style="margin: 0">&bull; Book Appointments</p>
    <p style="margin: 0">&bull; Chat with your Therapist</p>
  </div>
  <p style="margin: 0" class="bulletpoint3">
    &bull; Access/Upload Worksheets and Journal Entries
  </p>
</div>

<app-therapy></app-therapy>

<app-pricing id="pricing"></app-pricing>

<app-reviews></app-reviews>
<app-faqs></app-faqs>

<app-footer id="about"></app-footer>
