<main class="show-companion--container">
    <div class="companion-card--wrapper">
        <app-companion-card></app-companion-card>
        <app-companion-card></app-companion-card>
        <app-companion-card></app-companion-card>
        <app-companion-card></app-companion-card>
        <app-companion-card></app-companion-card>
        <app-companion-card></app-companion-card>
        <app-companion-card></app-companion-card>
        <app-companion-card></app-companion-card>
        <app-companion-card></app-companion-card>
        <app-companion-card></app-companion-card>
        <app-companion-card></app-companion-card>
    </div>
</main>
<app-footer></app-footer>