.data1
{
    display: none;
}
.data_display1
{
    display: block !important;
}
.data2
{
    display: none;
}
.data_display2
{
    display: block !important;
}
.data3
{
    display: none;
}
.data_display3
{
    display: block !important;
}
.data4
{
    display: none;
}
.data_display4
{
    display: block !important;
}
.radiobtn .input
{
    margin: 10px 4px 0 12px;
    position: relative;
    top: 2.8px;
    left: 0;
}
.radiobtn .label
{
    position: absolute;
    bottom: 0;
    right: 0;
}
/* ==================================== */
i
{
    color: #0EA5C6;
}
.navbar ul li
{
    list-style: none;
    display: inline;
    margin-left: 10px;
    cursor: pointer;
}
fieldset
{
    height: 520px;
    overflow-y: auto;
}
  .dis-ami{
    background-color: #0EA5C6;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
  }
  
  @keyframes example {
    0%   {background-color:#0EA5C6; right:0px; top:-10px;}
    25%  {background-color:#79C4D5; right:50px; top:-10px;}
    50%  {background-color:#0EA5C6; right:50px; top:10px;}
    75%  {background-color:#79C4D5; right:0px; top:10px;}
    100% {background-color:#0EA5C6; right:0px; top:0px;}
  }