<div class="container-fluid">
    <!-- ========================================================== -->
    <h1>All Appointments</h1>
<div class="card card-shadow mb-4">
    <div class="card-body">
        <h2>Upcoming Appointments</h2>
        <table class="table table-striped">
            <thead style="color:#667085">
              <tr>
                <th scope="col">Id</th>
                    <th scope="col">Patient</th>
                    <th scope="col">Date</th>
                    <th scope="col">Slot</th>
                    <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let book of bookingdata; let i=index;">
                <th *ngIf="book.Status == '1' " scope="row">{{i+1}}</th>
                <td *ngIf="book.Status == '1' ">{{book.P_name}}</td>
                <td *ngIf="book.Status == '1' ">{{book.SelectDate}}</td>
                <td *ngIf="book.Status == '1' ">{{book.Slot}}</td>
                <td *ngIf="book.Status == '1' ">
                  <a href="{{book.MeetLink}}" target="_blank">
                    <i class="fal fa-phone mx-2" title="Join" (click)="AppJoin(book._id,book.MeetLink)"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
</div>
    <!-- =========================================================== -->
    <div class="card card-shadow mb-4">
        <div class="card-body">
            <h2>Appointment History</h2>
            <table class="table table-striped">
                <thead style="color:#667085">
                  <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Patient</th>
                    <th scope="col">Date</th>
                    <th scope="col">Slot</th>
                    <th scope="col">Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let book of bookingdata; let i=index;">
                    <th *ngIf="book.Status != '1' " scope="row">{{i+1}}</th>
                    <td *ngIf="book.Status != '1' ">{{book.D_name}}</td>
                    <td *ngIf="book.Status != '1' ">{{book.SelectDate}}</td>
                    <td *ngIf="book.Status != '1' ">{{book.Slot}}</td>
                    <td *ngIf="book.Status == '0' ">
                        <i class="fal fa-phone-slash text-danger mx-2" title="Canceled"></i>
                        <!-- <button class="btn btn-0EA5C6">Cancel</button> -->
                    </td>
                    <td *ngIf="book.Status == '2' ">
                        <i class="fal fa-repeat text-warning mx-2" title="Rescheduled"></i>
                    </td>
                    <td *ngIf="book.Status == '3' ">
                        <i class="fal fa-phone mx-2" title="Success"></i>
                    </td>
                </tr>
                </tbody>
              </table>
        </div>
    </div><br>
    <!-- =========================================================== -->
</div>
