<div class="container-fluid">
    <!-- ========================================================== -->
    <h1>All Appointments</h1>
<div class="card card-shadow mb-4">
    <div class="card-body">
        <h2>Upcoming Appointments</h2>
        <table class="table table-striped">
            <thead style="color:#667085">
              <tr>
                <th scope="col">Id</th>
                    <th scope="col">Patient</th>
                    <th scope="col">Date</th>
                    <th scope="col">Slot</th>
                    <th scope="col">Action</th>
                    <th scope="col">Done</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let book of bookingdata; let i=index;">
                <th *ngIf="book.Status == '1' " scope="row">{{i+1}}</th>
                <td *ngIf="book.Status == '1' ">{{book.P_name}}</td>
                <td *ngIf="book.Status == '1' ">{{book.SelectDate}}</td>
                <td *ngIf="book.Status == '1' ">{{book.Slot}}</td>
                <td *ngIf="book.Status == '1' ">
                  <a href="{{book.MeetLink}}" target="_blank">
                    <i class="fal fa-phone mx-2" title="Join" (click)="AppJoin(appnote,book._id,book.MeetLink)"></i>
                  </a>
                </td>
                <td *ngIf="book.Status == '1' ">
                  <i class="fal fa-check-circle mx-2" title="Done" (click)="AppDone(book._id)"></i>
                </td>
              </tr>
            </tbody>
          </table>
          <!-- ============================================================================================== -->
          <ng-template #appnote let-modal let-c="close" let-d="dismiss">
            <div class="card card-shadow">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 d-flex justify-content-end">
                            <!-- <i class="fa fa-times fs-4 text-danger" (click)="d('Cross click')"></i> -->
                            <i class="fa fa-times fs-4 text-danger" (click)="reload()"></i>
                        </div>
                    </div>
                    <div>
                      <h4>Session with <font color="royalblue">{{bookingnote.P_name}}</font>
                      </h4>
                      <div class="row">
                          <div class="col-md-2">
                              <label>Service</label>
                          </div>
                          <div class="col-md-6">
                              $ {{bookingnote.Price}}.00
                          </div>
                      </div>
                      <!-- <div class="row">
                          <div class="col-md-2">
                              <label>Billing</label>
                          </div>
                          <div class="col-md-6">
                              Self-Pay
                          </div>
                      </div> -->
                      <div class="row">
                          <div class="col-md-2">
                              <label>Duration</label>
                          </div>
                          <div class="col-md-6">
                              60 minutes
                          </div>
                      </div>
                      <!-- <div class="row">
                          <div class="col-md-2">
                              <label>Total Fee</label>
                          </div>
                          <div class="col-md-6">
                              $100.00
                          </div>
                      </div> -->
                      <div class="row">
                          <div class="col-md-2">
                              <label>Diagnosis</label>
                          </div>
                          <div class="col-md-6">
                              {{result}}
                          </div>
                      </div>
                      <h6>Progress Note</h6>
                      <div class="row">
                          <form [formGroup]="addnote" (ngSubmit)="AddNote(addnote)">
                              <div class="row">
                              <div class="col-md-12">
                                  <textarea class="form-control" rows="5" formControlName="note" placeholder="Begin typing here..."></textarea>
                                  <div class="row error-mt"
                                    *ngIf="addnote.controls['note'].invalid ">
                                    <span class="text-danger error-mt"
                                        *ngIf="addnote.controls['note'].hasError('required') && showErrormsg==true">*
                                        Please Enter Note *</span>
                                    </div>
                              </div>
                              </div>
                              <h6 class="mt-2">Attachments</h6>
                              <input type="file" class="dropify" formControlName="file" #File accept="file/*" (change)="onFileSelected($event)">
                                <div class="row error-mt"
                                    *ngIf="addnote.controls['file'].invalid ">
                                    <span class="text-danger error-mt"
                                        *ngIf="addnote.controls['file'].hasError('required') && showErrormsg==true">*
                                        Please Select File *</span>
                                    </div>
                              <div class="row">
                              <div class="col-md-12 mt-2">
                                  <!-- <button class="btn btn-fefefe">Cancel</button> -->
                                  <button class="btn btn-fefefe">Save</button>
                              </div>
                              </div>
                          </form>
                      </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <!-- ============================================================================================== -->
    </div>
</div>
    <!-- =========================================================== -->
    <div class="card card-shadow mb-4">
        <div class="card-body">
            <h2>Appointment History</h2>
            <table class="table table-striped">
                <thead style="color:#667085">
                  <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Patient</th>
                    <th scope="col">Date</th>
                    <th scope="col">Slot</th>
                    <th scope="col">Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let book of bookingdata; let i=index;">
                    <th *ngIf="book.Status != '1' " scope="row">{{i+1}}</th>
                    <td *ngIf="book.Status != '1' ">{{book.P_name}}</td>
                    <td *ngIf="book.Status != '1' ">{{book.SelectDate}}</td>
                    <td *ngIf="book.Status != '1' ">{{book.Slot}}</td>
                    <td *ngIf="book.Status == '0' ">
                        <i class="fal fa-phone-slash text-danger mx-2" title="Canceled"></i>
                        <!-- <button class="btn btn-0EA5C6">Cancel</button> -->
                    </td>
                    <td *ngIf="book.Status == '2' ">
                        <i class="fal fa-repeat text-warning mx-2" title="Rescheduled"></i>
                    </td>
                    <td *ngIf="book.Status == '3' ">
                        <i class="fal fa-phone text-success mx-2" title="Success"></i>
                    </td>
                </tr>
                </tbody>
              </table>
        </div>
    </div><br>
    <!-- =========================================================== -->
</div>
