<main class="companion-exam--wrapper">
    <div class="timer-and-score">
        <div class="timer">
            <strong class="timer--title">Time Left:</strong>
            <strong class="time-left">00:45:00</strong>
        </div>
        <div class="score">
            <strong class="score--title">Score:</strong> 
            <strong class="current-score">20/100</strong>
        </div>
    </div>
    <div class="scenario--wrapper">
        <h2 class="scenario--title exam--title">Scenario</h2>
        <p class="scenario">{{questions[currentIndex].comprehension}}</p>
    </div>
    <div class="question-wrapper">
        <h2 class="question--title exam--title">Question</h2>
        <p class="question">{{questions[currentIndex].questionText}}</p>
    </div>
    <div class="options-wrapper">
        <h2 class="option--title exam--title">Options</h2>
        <div class="option--selectors">
            <label for="option--one" class="option" id="0" (click)="handleAnswerSelection($event)">
                <input type="radio" name="option--radio" id="option--one" class="option--radio">
                <span class="custom-check" id="custom-check--one"></span>
                <span class="answer" class="answer">{{questions[currentIndex].options[0]}}</span>
                <fa-icon class="option-status option-true" [hidden]="true" [icon]="faCheck"></fa-icon>
                <fa-icon class="option-status option-false" [hidden]="true" [icon]="faXmark"></fa-icon>
            </label>
            <label for="option--two" id="1"  class="option" (click)="handleAnswerSelection($event)">
                <input type="radio" name="option--radio" id="option--two" class="option--radio">
                <span class="custom-check" id="custom-check--two"></span>
                <span class="answer">{{questions[currentIndex].options[1]}}</span>
                <fa-icon class="option-status option-true" [hidden]="true" [icon]="faCheck"></fa-icon>
                <fa-icon class="option-status option-false" [hidden]="true" [icon]="faXmark"></fa-icon>
            </label>
            <label for="option--three" id="2" class="option" (click)="handleAnswerSelection($event)">
                <input type="radio" name="option--radio" id="option--three" class="option--radio">
                <span class="custom-check" id="custom-check--three"></span>
                <span class="answer">{{questions[currentIndex].options[2]}}</span>
                <fa-icon class="option-status option-true" [hidden]="true" [icon]="faCheck"></fa-icon>
                <fa-icon class="option-status option-false" [hidden]="true" [icon]="faXmark"></fa-icon>
            </label>
            <label for="option--four" id="3" class="option" (click)="handleAnswerSelection($event)">
                <input type="radio" name="option--radio" id="option--four" class="option--radio">
                <span class="custom-check" id="custom-check--four"></span>
                <span class="answer">{{questions[currentIndex].options[3]}}</span>
                <fa-icon class="option-status option-true" [hidden]="true" [icon]="faCheck"></fa-icon>
                <fa-icon class="option-status option-false" [hidden]="true" [icon]="faXmark"></fa-icon>
            </label>
        </div>
    </div>

    <div class="question-progress--wrapper">
        <div class="question-progress">
            <div class="progress-bar">
                <p class="progress-message">
                    24% Completed. Great going!
                    <span class="tag"></span>
                </p>
            </div>
        </div>
        <button class="btn-next-question" [routerLink]="['/companion/home']" [queryParams]="{sts:'success'}">
            <span>Next Question</span> 
            <mat-icon class="question-arrow">arrow_right_alt</mat-icon>
        </button>
    </div>
</main>
<app-footer></app-footer>
