<main class="companion-exam--wrapper">
    <div class="timer-and-score">
        <div class="timer">
            <strong class="timer--title">Time Left:</strong>
            <strong class="time-left">00:45:00</strong>
        </div>
        <div class="score">
            <strong class="score--title">Score:</strong> 
            <strong class="current-score">20/100</strong>
        </div>
    </div>
    <div class="scenario--wrapper">
        <h2 class="scenario--title exam--title">Scenario</h2>
        <p class="scenario">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sit lectus ac vestibulum. Auctor et leo non nisi tempor vitae nibh eu mauris. Tincidunt mauris et in tempus volutpat. Pellentesque senectus ultrices venenatis senectus vulputate nec. Arcu, nullam mauris ut consectetur scelerisque ipsum.</p>
    </div>
    <div class="question-wrapper">
        <h2 class="question--title exam--title">Question</h2>
        <p class="question">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sit lectus ac vestibulum?</p>
    </div>
    <div class="options-wrapper">
        <h2 class="option--title exam--title">Options</h2>
        <div class="option--selectors">
            <label for="option--one" class="option">
                <input type="radio" name="option--radio" id="option--one" class="option--radio">
                <span class="custom-check" id="custom-check--one"></span>
                <span>Option 1</span>
            </label>
            <label for="option--two" class="option">
                <input type="radio" name="option--radio" id="option--two" class="option--radio">
                <span class="custom-check" id="custom-check--two"></span>
                <span>Option 1</span>
            </label>
            <label for="option--three" class="option">
                <input type="radio" name="option--radio" id="option--three" class="option--radio">
                <span class="custom-check" id="custom-check--three"></span>
                <span>Option 1</span>
            </label>
            <label for="option--four" class="option">
                <input type="radio" name="option--radio" id="option--four" class="option--radio">
                <span class="custom-check" id="custom-check--four"></span>
                <span>Option 1</span>
            </label>
        </div>
    </div>

    <div class="question-progress--wrapper">
        <div class="question-progress">
            <div class="progress-bar">
                <p class="progress-message">
                    24% Completed. Great going!
                    <span class="tag"></span>
                </p>
            </div>
        </div>
        <button class="btn-next-question">
            <span>Next Question</span> 
            <mat-icon class="question-arrow">arrow_right_alt</mat-icon>
        </button>
    </div>
</main>
<app-footer></app-footer>
