<div class="therapist-new-password-wrapper">
    <div class="therapist-new-password">
        <div class="welcome-messages">
            <h1 class="signin-text">Set new password</h1>
            <p class="welcome">Your new password must be different to your previously used password.</p>
        </div>
        <form #form="ngForm" (ngSubmit)="form.valid&&onSubmit()" class="signin-form">
            <label for="password" class="signin-label">Password</label>
            <input 
                type="password" 
                minlength="8" 
                #password="ngModel" 
                [(ngModel)]="data.password" 
                required 
                class="signin-input" 
                name="password" 
                [ngClass]="{'invalid-input':password.touched&&(password.errors?.required || password.errors?.minlength)}"
            >
            <p class="password-condition" [ngClass]="{'text-danger':password.touched&&(password.errors?.required || password.errors?.minlength)}">Must be at least 8 characters.</p>
            <label for="c-password" class="signin-label">Confirm Password</label>
            <input 
                type="password" 
                class="signin-input" 
                name="c-password"
                #c_password="ngModel"
                [(ngModel)]="data.c_password"
                (change)="checkPassword()"
            >
            <small class="text-danger" *ngIf="c_password.touched && !arePasswordsEqual">Must be same as password</small>
            <button type="submit" class="btn-submit btn-signin">Reset password</button>
            <p class="go-back-link" [routerLink]="['/therapist-signin']">
                <i class="fas fa-long-arrow-alt-left"></i>
                Go back to Sign up page
            </p>
        </form>
        <img src="/assets/images/reset-password.png" class="signin-image" alt="">
    </div>
</div>
<app-footer></app-footer>
