<div class="container-fluid">
    <!-- ========================================================== -->
    <h1>Patients</h1>
<div class="card card-shadow">
    <div class="card-body">
        <table class="table table-striped">
            <thead style="color:#667085">
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Patient Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Age</th>
                <th scope="col">Last Appointment</th>
                <th scope="col">Upcoming Appointment</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td><img src="assets/userpic.png" height="30px" width="30px">&nbsp;Mark</td>
                <td>mark@gmail.com</td>
                <td>9632587410</td>
                <td>21</td>
                <td>00/00/0000</td>
                <td>00/00/0000</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td><img src="assets/userpic.png" height="30px" width="30px">&nbsp;Jacob</td>
                <td>jacob@gmail.com</td>
                <td>9632587410</td>
                <td>25</td>
                <td>00/00/0000</td>
                <td>00/00/0000</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td><img src="assets/userpic.png" height="30px" width="30px">&nbsp;Larry</td>
                <td>larry@gmail.com</td>
                <td>9632587410</td>
                <td>27</td>
                <td>00/00/0000</td>
                <td>00/00/0000</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>
    <!-- =========================================================== -->
</div>
