.dashboard-navigation{
    display: flex;
    flex-direction: column;
    background: #79C4D5;
    height: calc(100vh - 100px);
    padding: 1rem;
    width: 4rem;
    transition: all 0.3s ease;
    overflow-x: hidden;
    position: fixed;
    top: 100px;
    left: 0;
}
.dashboard-navigation:hover{
    width: 16rem;
}

.btn-dashboard-navigation{
    background: transparent;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    line-height: 42px;
    text-transform: uppercase;
    text-align: left;
    border: none;
    margin: 1rem 0;
    transition: all 0.3s ease;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-items: center;
    grid-column-gap: 1rem;
}
.is-active-link{
    position: relative;
    color: var(--creamy-color);
}
.is-active-link::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 5px;
	background: var(--creamy-color);
	right: -1rem;
}
.btn-dashboard-navigation:hover{
    color: var(--creamy-color);
}
.navigation-icon{
    width: 2rem;
    height: auto;
}
.name-welcome{
    color: #fff;
    font-size: 14px;
    margin: 0;
    display: none;
}
.logout-btn{
    display: none;
}

@media only screen and (max-width: 992px) {
    .dashboard-navigation{
        width: max-content;
        top: 85px;
        left: auto;
        right: 0;
        height: calc(100vh - 85px);
        transform: translateX(100%);
    }
    .dashboard-navigation:hover{
        width: max-content;
    }
    .slided-dash{
        transform: translateY(0)
    }
    .logout-btn{
        display: flex;
    }
    .logout-btn i{
        font-size: 1.6rem;
        margin-left: 6px;        
    }
}
@media only screen and (max-width:550px) {
    .dashboard-navigation{
        top: 65px;
        height: calc(100vh - 65px)
    }
    .btn-dashboard-navigation{
        font-size: 14px;
        margin: 0.5rem 0;
    }
    .navigation-icon{
        width: 1.2rem;
    }
    .name-welcome{
        display: block;
    }
    .logout-btn i{
        font-size: 1.1rem;
        margin-left: 3px;        
    }
    
}