<div class="course--card" *ngIf="course" (click)="navigateToCourse($event)">
    <img [src]="course.photo" alt="" class="course--thumbnail">
    <div class="card--body">
        <h2 class="course--title">{{course.course_title}}</h2>
        <p class="course--provider">{{course.instructor}}</p>
        <div class="progress--container">
            <span class="progress--wrapper">
                <span class="progress" [ngStyle]="{'width':course.progress[0]+'%'}"></span>
            </span>
            <p class="progress--count">{{course.progress[0]}}%</p>
        </div>
        <div class="rate-the-course">
            <p>Leave a rating</p>
            <div class="stars">
                <i 
                    [ngClass]="{'star-filled':starHover>=1}" 
                    class="fas fa-star" 
                    (mouseover)="onMouseOverStar(1)" 
                    (mouseout)="onMouseOutStar()"
                    (click)="rateTheCourse('thisisId',1)"    
                >
                </i>
                <i 
                    [ngClass]="{'star-filled':starHover>=2}" 
                    class="fas fa-star" 
                    (mouseover)="onMouseOverStar(2)" 
                    (mouseout)="onMouseOutStar()"
                    (click)="rateTheCourse('thisisId',2)"    
                >
                </i>
                <i 
                    [ngClass]="{'star-filled':starHover>=3}" 
                    class="fas fa-star" 
                    (mouseover)="onMouseOverStar(3)" 
                    (mouseout)="onMouseOutStar()"
                    (click)="rateTheCourse('thisisId',3)"    
                >
                </i>
                <i 
                    [ngClass]="{'star-filled':starHover>=4}" 
                    class="fas fa-star" 
                    (mouseover)="onMouseOverStar(4)" 
                    (mouseout)="onMouseOutStar()"
                    (click)="rateTheCourse('thisisId',4)"    
                >
                </i>
                <i 
                    [ngClass]="{'star-filled':starHover>=5}" 
                    class="fas fa-star" 
                    (mouseover)="onMouseOverStar(5)" 
                    (mouseout)="onMouseOutStar()"
                    (click)="rateTheCourse('thisisId',5)"    
                >
                </i>
            </div>
        </div>
    </div>
</div>
