.course--card{
    width: 100%;
    border-radius: 15px;
    box-shadow: -3px 2px 24px rgba(120, 137, 165, 0.3);
    cursor: pointer;
}
.course--thumbnail{
    width: 100%;
    height: calc(100vw / 10);
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}
.card--body{
    padding: 1rem;
}
.course--title{
    font-size: 1rem;
    font-weight: 600;
}
.course--provider{
    margin: 1rem 0;
}
.progress--container{
    display: flex;
    align-items: center;
    background: transparent;
}
.progress--wrapper{
    flex: 1;
    margin-right: 1rem;
    height: 10px;
    background: rgba(14, 165, 198, 0.361);
    border-radius: 50px;
}
.progress{
    width: 30%;
    height: 100%;
    border-radius: 50px;
    background: var(--bg-primary);
}
.progress--count{
    margin: 0;
    background: transparent;
}
.rate-the-course{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 1rem;
}
.rate-the-course p{
    margin: 0;
    margin-right: 0.5rem;
    font-size: 14px;
}
.rate-the-course i{
    color: rgba(117, 117, 117, 0.52);
}
.rate-the-course .star-filled{
    color:#FFC700;
    
}

@media only screen and (max-width: 1250px) {
    .course--thumbnail{
        height: 9rem;
    }
}
@media only screen and (max-width: 500px) {
    .course--title{
        font-size: 14px;
    }
    .course--provider{
        font-size: 12px;
        margin: 0.5rem 0;
    }
    .progress--wrapper{
        height: 6px;
    }
    .progress--count{
        font-size: 12px;
    }
    .rate-the-course p{
        font-size: 12px;
    }
}