<div class="container-fluid">
    <!-- ========================================================== -->
    <h1>All Feedback</h1>
<div class="card card-shadow">
    <div class="card-body">
        <table class="table table-striped">
            <thead style="color:#667085">
              <tr>
                <th scope="col" width="6%">Id</th>
                <th scope="col">Patient</th>
                <th scope="col">Rating</th>
                <th scope="col" width="50%">Feedback</th>
                <th scope="col">Date</th>
                <th scope="col">IsFavorite</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td><img src="assets/userpic.png" height="30px" width="30px">&nbsp;Mark</td>
                <td><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></td>
                <td>@mdo</td>
                <td>29/11/2021</td>
                <td><i class="fa fa-star"></i></td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td><img src="assets/userpic.png" height="30px" width="30px">&nbsp;Jacob</td>
                <td><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></td>
                <td>@fat</td>
                <td>29/11/2021</td>
                <td><i class="fa fa-star"></i></td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td><img src="assets/userpic.png" height="30px" width="30px">&nbsp;Larry</td>
                <td><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></td>
                <td>@twitter</td>
                <td>29/11/2021</td>
                <td><i class="fa fa-star"></i></td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td><img src="assets/userpic.png" height="30px" width="30px">&nbsp;Mark</td>
                <td><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></td>
                <td>@mdo</td>
                <td>29/11/2021</td>
                <td><i class="fa fa-star"></i></td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td><img src="assets/userpic.png" height="30px" width="30px">&nbsp;Jacob</td>
                <td><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></td>
                <td>@fat</td>
                <td>29/11/2021</td>
                <td><i class="fa fa-star"></i></td>
              </tr>
              <tr>
                <th scope="row">6</th>
                <td><img src="assets/userpic.png" height="30px" width="30px">&nbsp;Larry</td>
                <td><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></td>
                <td>@twitter</td>
                <td>29/11/2021</td>
                <td><i class="fa fa-star"></i></td>
              </tr>
            </tbody>
          </table>
    </div>
</div>
    <!-- =========================================================== -->
</div>
