<div class="container-fluid">
    <!-- ========================================================== -->
    <h1>All Feedback</h1>
<div class="card card-shadow">
    <div class="card-body">
        <table class="table table-striped">
            <thead style="color:#667085">
              <tr>
                <th scope="col" width="6%">Id</th>
                <th scope="col">Patient</th>
                <th scope="col">Rating</th>
                <th scope="col" width="50%">Feedback</th>
                <th scope="col">Date</th>
                <th scope="col">IsFavorite</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of Feedback; let i=index;">
                <th scope="row">{{i+1}}</th>
                <td>{{data.P_name}}</td>
                <td>
                  <ngb-rating class="fs-5" style="color: #0EA5C6;" [max]="5" [(rate)]="data.Rating" [readonly]="true"></ngb-rating>
                </td>
                <td>{{data.Message}}</td>
                <td>{{data.C_Date}}</td>
                <td>
                  <i *ngIf="data.Status == '1' " class="fa fa-star" (click)="Fav(data._id)"></i>
                  <i *ngIf="data.Status == '0' " class="fal fa-star" (click)="Fav(data._id)"></i>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
</div>
    <!-- =========================================================== -->
</div>
