.companion-profile{
    padding: 2rem 14%;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: 'avatar avatar'
                         'name name'
                         'rating rating'
                         'description description'
                         'btn btn'
                         'divider divider'
                         'details-left details-right';
}
.avatar--wrapper{
    grid-area: avatar;
    justify-self: center;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}
.avatar{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
.companion-name{
    grid-area: name;
    justify-self: center;
    text-align: center;
    font-weight: 600;
}
.companion-rating-wrapper{
    grid-area: rating;
    display: flex;
    justify-self: center;
    align-items: center;
}
.companion-rate--title{
    color: #9e852a;
    font-weight: 500;
    font-size: 1.2rem;
    margin-right: 1rem;
}
.star{
    color: #FFC700;
    font-size: 1.1rem;
    margin: 0 0.2rem;
}
.btn-chat{
    grid-area: btn;
    justify-self: center;
    border-radius: 50px;
    padding: 1rem 2rem;
    background: var(--bg-primary);
    color: #fff;
    font-weight: 600;
    border: none;
}
.about{
    grid-area: description;
    text-align: center;
    justify-self: center;
    font-size: 1.1rem;
    color: #000;
}
.divider{
    grid-area: divider;
}
.companion-details{
    grid-area: details-left;
}
.details--wrapper{
    display: grid;
    grid-template-columns: 3fr 1fr;
    font-size: 1rem;
    margin: 0.5rem 0;
}
.details-title{
    grid-area: 1/1/2/2;
    font-size: 1rem;
    padding: 0;
    margin: 0;
}
.detail{
    grid-area: 1/2/2/3;
}
.second-details{
    grid-area: details-right;
}

@media only screen and (max-width: 768px) {
    .companion-profile{
        padding: 2rem 1rem;
    }
}
@media only screen and (max-width:500px) {
    .companion-profile{
        grid-template-columns: 1fr;
        grid-template-areas: 'avatar''name''rating''description''btn''divider''details-left''details-right';
    }
    .avatar--wrapper{
        width: 5rem;
        height: 5rem;
    }
    .companion-name{
        font-size: 1.2rem;
    }
    .companion-rate--title{
        font-size: 1rem;
    }
    .star{
        font-size: 1rem;
        margin: 0 0.2rem;
    }
    .about{
        font-size: 15px;
    }
    .details--wrapper{
        grid-template-columns: 5fr 2fr;
        font-size: 14px;
    }
    .second-details{
        margin: -1rem 0;
    }
}