<div class="landing">
      <div class="landing-left ">
        <p>Your All in One <br>
          Solution to Manage <br>
          Your Growing Practice</p>
        <!-- <button mat-raised-button routerLink="/get-started" class="btn landing-btn-gs" type="button"> -->
          <button mat-raised-button routerLink="/doctor-signup" class="btn landing-btn-gs" type="button">
            Get Started</button>
      </div>
      <div class="landing-right">
        <img src="./assets/images/all_the_data_amico_1.svg" alt="">
      </div>
  </div>


  <div class="services ">
    <h1>More Services at Your Fingertips</h1>
    <p>We're on a mission to make Teletherapy smarter, simpler, and more accessible</p>
    <div class="services-part">
      <div class="services-card">
        <img src="./assets/images/mask_group_8.svg" alt="">
        <h4>Schedule and to-do</h4>
        <p>Digital Organization</p>
      </div>
      <div class="services-card">
        <img src="./assets/images/mask_group_9.svg" alt="">
        <h4>Telehealth</h4>
        <p>Video Appointments</p>
      </div>
      <div class="services-card">
        <img src="./assets/images/mask_group_10.svg" alt="">
        <h4>Documentation</h4>
        <p>Customizable templates</p>
      </div>
      <div class="services-card">
        <img src="./assets/images/mobile.svg" alt="">
        <h4>Mobile</h4>
        <p>On-to-go Access</p>
      </div>
      <div class="services-card">
        <img src="./assets/images/mask_group_11.svg" alt="">
        <h4>Billing</h4>
        <p>Paperless payment<p>
      </div>
      <div class="services-card">
        <img src="./assets/images/mask_group_12.svg" alt="">
        <h4>Insurance </h4>
        <p>Simple claim filling</p>
      </div>
      <div class="services-card">
        <img src="./assets/images/mask_group_13.svg" alt="">
        <h4>Support</h4>
        <p>World class team</p>
      </div>
      <div class="services-card">
        <img src="./assets/images/mask_group_14.svg" alt="">
        <h4>Security</h4>
        <p>Fully HIPPA-Compliant</p>
      </div>
    </div>
  </div>


   <div class="middle-cont">
    <h2>One System to Manage Your Entire <br> Practice</h2>
    <p>Simplify and grow using are all in one practice management tools</p>
    <div class="cont-body">
      <div class="cb-part">
        <div class="cb-part-img">
          <img src="./assets/images/mask_group_5.svg" alt="">
        </div>
        <h2>Schedule</h2>
        <p>Maintain a schedule that works for you by including elements that provide you with more information and flexibility.</p>
      </div>
      <div class="cb-part">
        <div class="cb-part-img">
          <img src="./assets/images/mask_group_6.svg" alt="">
        </div>
        <h2>Documents</h2>
        <p>Spend more time with your clients and less time on notes and documentation.</p>
      </div>
      <div class="cb-part">
        <div class="cb-part-img">
          <img src="./assets/images/mask_group_7.svg" alt="">
        </div>
        <h2>Billing</h2>
        <p>It doesn't have to be difficult to be compensated.</p>
      </div>
    </div>
    <div class="cb-btn-holder">
      <button mat-raised-button class="btn cb-btn" type="button"><a href="./get-started.html"> Get Started</a></button>
    </div>
  </div>

  <div class="largest-cont">
    <div class="lcr largest-cont-mobile-p-0">
      <div class="lcrl">
        <img src="./assets/images/date_picker_amico_1.svg" alt="">
      </div>
      <div class="lcrr">
        <p class="ta">Set your schedule</p>
        <p class="lcrr-main-text">Take complete control over available hours and services
          Accept or reject new clients at your convenience
          Manage schedule with built in task management tools
          Manage your schedule using any device</p>
      </div>
    </div>
    <div class="lcr largest-cont-mobile-p-0">
      <div class="lcrr">
        <p class="ta">Manage Documents</p>
        <p class="lcrr-main-text">Manage your forms, plans, and evaluations with our customizable library
          Manage progress notes with the click of a button from any device
          Create your own evaluations or use built in templates for your clients</p>
      </div>
      <div class="lcrl">
        <img src="./assets/images/personal_files_amico_1.svg" alt="">
      </div>
    </div>
    <div class="lcr largest-cont-mobile-p-0">
      <div class="lcrl">
        <img src="./assets/images/account_amico_1.svg" alt="">
      </div>
      <div class="lcrr">
        <p class="ta">Manage Billing</p>
        <p class="lcrr-main-text">Save time, prevent disputes and stop chasing payments with automatic subscriptions
          Use integrated credit card processing and keep your clients safe with bank level security
          Allow clients to setup auto billing from their client portal</p>
      </div>
    </div>
  </div>


  <app-footer></app-footer>