<div class="footer flex-wrap">
  <div class="footer-left">
    <div class="footer-logo">
      <a class="navbar-brand" href="./index.html">
        <img
          src="./assets/images/white_logo.svg"
          alt=""
          width="30"
          height="24"
          class="d-inline-block align-text-top"
        />
        LeapifyTalk
      </a>
    </div>
    <p class="fp-one">
      Mental health is an issue that is increasingly becoming more prevalent in
      our society. With the high cost of traditional therapy and the lack of
      availability of in-person therapy, it has become increasingly difficult
      for many people to access therapy. Leapify Talk is a software as a service
      teletherapy platform that provides virtual therapy sessions that are
      customized to each user. It is a platform that is easy to access and is
      designed to help certified therapists and their clients get the most out
      of each virtual therapy session.
    </p>
  </div>
  <div class="footer-right">
    <a routerLink="/terms-and-conditions"
      ><p class="fr-p">Terms and Conditions</p></a
    >
    <a routerLink="/privacy-policy"><p class="fr-p">Privacy Policy</p></a>
    <a routerLink="/contact-us"><p class="fr-p">Contact Us</p></a>
  </div>
  <div class="footer-lower">
    <p class="fp-two">Copyright © 2021 Leapifytalk, All rights reserved</p>
    <div class="footer-lower-followus">
      <p class="fr-p">Follow us</p>
      <div class="fr-img">
        <img src="./assets/images/shape.svg" alt="" />
        <img src="./assets/images/shape_1.svg" alt="" />
        <img src="./assets/images/shape_2.svg" alt="" />
        <img src="./assets/images/shape_3.svg" alt="" />
      </div>
    </div>
  </div>
</div>
