<div class="container-fluid">
    <!-- ========================================================== -->
    <h1>FAQ</h1>
    <div class="row">
        <div class="col-md-12">
            <div class="card card-shadow">
                <div class="card-body">
                    <h4 class="mt-0 header-title">Most Commonly Asked Questions</h4>
                    <p class="text-muted">
                        Anim pariatur cliche reprehenderit,
                        enim eiusmod high life accusamus terry richardson ad squid.
                    </p>
                    <div class="row">
                        <div class="col-md-6">
                            <h6 class="">1. What is Metrica?</h6>
                            <p class="font-14 text-muted ml-3">
                                Anim pariatur cliche reprehenderit,
                                enim eiusmod high life accusamus terry richardson ad squid.
                            </p>
                        </div>
                        <div class="col-md-6">
                            <h6 class="">2. How buy Metrica on coin?</h6>
                            <p class="font-14 text-muted ml-3">
                                Anim pariatur cliche reprehenderit,
                                enim eiusmod high life accusamus terry richardson ad squid.
                            </p>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-6">
                            <h6 class="">3. What cryptocurrency can i use to buy Metrica?</h6>
                            <p class="font-14 text-muted  ml-3">
                                Anim pariatur cliche reprehenderit,
                                enim eiusmod high life accusamus terry richardson ad squid.
                            </p>
                        </div>
                        <div class="col-md-6">
                            <h6 class="">4. Where can i download the wallet?</h6>
                            <p class="font-14 text-muted ml-3">
                                Anim pariatur cliche reprehenderit,
                                enim eiusmod high life accusamus terry richardson ad squid.
                            </p>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-6">
                            <h6 class="">5. Can i trade Metrica?</h6>
                            <p class="font-14 text-muted ml-3">
                                Anim pariatur cliche reprehenderit,
                                enim eiusmod high life accusamus terry richardson ad squid.
                            </p>
                        </div>
                        <div class="col-md-6">
                            <h6 class="">6. What is Metrica?</h6>
                            <p class="font-14 text-muted ml-3">
                                Anim pariatur cliche reprehenderit,
                                enim eiusmod high life accusamus terry richardson ad squid.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ====================================================================== -->
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="card card-shadow mb-5" style="min-height: 430px;">
                <div class="card-body">
                    <h4 class="mt-0 header-title">Most Commonly Asked Questions</h4>
                    <p class="text-muted">
                        Anim pariatur cliche reprehenderit,
                        enim eiusmod high life accusamus terry richardson ad squid.
                    </p>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-header" id="headingThree">
                                <h5 class="my-0">
                                    <button class="btn collapsed ml-4 shadow-none" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        <i class="fa fa-arrow-circle-down fs-4"></i>
                                        What is Metrica?
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample-faq">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-header" id="headingTwo">
                                <h5 class="my-0">
                                    <button class="btn collapsed ml-4 align-self-center shadow-none" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        <i class="fa fa-arrow-circle-down fs-4"></i>
                                        How buy Metrica on coin?
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample-faq">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-header" id="headingTwo">
                                <h5 class="my-0">
                                    <button class="btn collapsed ml-4 align-self-center shadow-none" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        <i class="fa fa-arrow-circle-down fs-4"></i>
                                        How buy Metrica on coin?
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample-faq">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="card-header" id="headingThree">
                                <h5 class="my-0">
                                    <button class="btn collapsed ml-4 shadow-none" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        <i class="fa fa-arrow-circle-down fs-4"></i>
                                        What cryptocurrency can i use to buy Metrica?
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample-faq">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- =================================================== -->
        <div class="col-md-6">
            <div class="card card-shadow mb-4" style="min-height: 430px;">
                <div class="card-body">
                    <h4 class="mt-0 header-title">Have More Questions</h4>
                    <p class="text-muted">Don't Worry ! Email us your Questions or you can send us twitter.</p>
                    <div class="row">
                        <div class="col-md-4">
                            <img src="assets/faq.svg" height="250px" width="100%">
                        </div>
                        <div class="col-md-8">
                            <form>
                                <div class="form-group row mb-4">
                                    <div class="col-lg-6  mo-b-15">
                                        <input class="form-control" type="text" id="name" placeholder="Name">
                                    </div>
                                    <div class="col-lg-6">
                                        <input class="form-control" type="email" id="example-email-input3" placeholder="Email">
                                    </div>
                                </div>

                                <div class="form-group row mb-4">
                                    <div class="col-12">
                                        <input class="form-control" type="text" id="subject2" placeholder="Subject">
                                    </div>
                                </div>
                                <div class="form-group mb-4">
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" placeholder="Your message"></textarea>
                                </div>

                                <button type="submit" class="btn btn-0EA5C6 rounded-pill px-5">Send Email</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ========================================================== -->
</div>