.radiobtn .input
{
    margin: 10px 4px 0 12px;
    position: relative;
    top: 2.8px;
    left: 0;
    height: 20px;
    width: 20px;
}
.radiobtn .label
{
    position: absolute;
    bottom: 0;
    right: 0;
}
.page .page-item
{
    background: #79C4D5;
    /* background: #0EA5C6; */
    color: #f2efb6;
    border: 3px solid #f2efb6;
    padding: 10px 10px 0px 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
fieldset
{
    /* background: #eeeeee; */
    background: #79C4D5;
    padding: 2%;
}
fieldset input
{
    font-size: medium;
    font-weight: bolder;
    color: #0EA5C6;
}
fieldset label
{
    font-size: medium;
    /* font-weight: bolder; */
    color: #f2efb6;
    border-color: #f2efb6;
}
fieldset
{
    height:54vh;
}