<div class="container-fluid">
    <!-- ========================================================== -->
    <!-- ----------------------- Feedback Form Start ----------------------------------- -->
    <h1>Feedback Form</h1>
    <div class="container mb-5 d-flex justify-content-center">
        <div class="card card-shadow">
            <div class="card-body">
                <form>
                    <h4 class="mb-4">Your Doctor : Dr. Abc</h4>
                    <h4 class="mb-4">How would you rate your doctor?</h4>
                    <h5 class="mb-4">☆☆☆☆☆(0)</h5>
                    <h4 class="mb-4">Is there anything else you'd like to share about your experience with the doctor?</h4>
                    <textarea id="feedbck" class="form-control z-depth-1" rows="6" placeholder="Write your experience here..." maxlength="500" formControlName="Message"></textarea>
                    <span>(<span id="chars">500</span> characters remaining)</span><br>
                    <button class="btn btn-0EA5C6 rounded-pill px-5 mt-2">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <!-- ----------------------- Feedback Form End ------------------------------------- -->
<!-- --------------------------- Previous Feedback Start ------------------------------- -->
    <h1>Previous Feedbacks</h1>
<div class="row p-3">
  <div class="card card-shadow">
    <div class="card-body">
        <table class="table table-striped">
            <thead style="color:#667085">
              <tr>
                <th scope="col" width="6%">Id</th>
                <th scope="col">Doctor</th>
                <th scope="col">Rating</th>
                <th scope="col" width="50%">Feedback</th>
                <th scope="col">Date</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td><img src="assets/userpic.png" height="30px" width="30px">&nbsp;Mark</td>
                <td><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></td>
                <td>@mdo</td>
                <td>13/12/2021</td>
                <td><i class="fa fa-trash"></i></td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td><img src="assets/userpic.png" height="30px" width="30px">&nbsp;Jacob</td>
                <td><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></td>
                <td>@fat</td>
                <td>12/12/2021</td>
                <td><i class="fa fa-trash"></i></td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td><img src="assets/userpic.png" height="30px" width="30px">&nbsp;Larry</td>
                <td><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></td>
                <td>@twitter</td>
                <td>11/12/2021</td>
                <td><i class="fa fa-trash"></i></td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td><img src="assets/userpic.png" height="30px" width="30px">&nbsp;Mark</td>
                <td><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></td>
                <td>@mdo</td>
                <td>10/12/2021</td>
                <td><i class="fa fa-trash"></i></td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td><img src="assets/userpic.png" height="30px" width="30px">&nbsp;Jacob</td>
                <td><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></td>
                <td>@fat</td>
                <td>09/12/2021</td>
                <td><i class="fa fa-trash"></i></td>
              </tr>
              <tr>
                <th scope="row">6</th>
                <td><img src="assets/userpic.png" height="30px" width="30px">&nbsp;Larry</td>
                <td><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></td>
                <td>@twitter</td>
                <td>08/12/2021</td>
                <td><i class="fa fa-trash"></i></td>
              </tr>
            </tbody>
          </table>
    </div>
</div>
</div>
<!-- -------------------------------------- Previous Feedback End ------------------------------------------------- -->
    <!-- =========================================================== -->
</div>
