<div class="container-fluid">
    <!-- ========================================================== -->
    
<!-- --------------------------- Previous Feedback Start ------------------------------- -->
    <h1>Previous Feedbacks</h1>
<div class="row p-3">
  <div class="card card-shadow">
    <div class="card-body">
        <table class="table table-striped">
            <thead style="color:#667085">
              <tr>
                <th scope="col" width="6%">Id</th>
                <th scope="col">Doctor</th>
                <th scope="col">Rating</th>
                <th scope="col" width="50%">Feedback</th>
                <th scope="col">Date</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of Feedback; let i=index;">
                <th scope="row">{{i+1}}</th>
                <td>{{data.D_name}}</td>
                <td>
                  <ngb-rating class="fs-5" style="color: #0EA5C6;" [max]="5" [(rate)]="data.Rating" [readonly]="true"></ngb-rating>
                </td>
                <td>{{data.Message}}</td>
                <td>{{data.C_Date}}</td>
                <td>
                  <i class="fa fa-trash"></i>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
</div>
</div>
<!-- -------------------------------------- Previous Feedback End ------------------------------------------------- -->
    <!-- =========================================================== -->
</div>
