<div class="therapist-password-changed-wrapper">
    <div class="therapist-password-changed">
        <div class="welcome-messages">
            <h1 class="signin-text">Password reset</h1>
            <p class="welcome">Your new password has been successfully reset. Click below to sign in magically.</p>
        </div>
        <form class="signin-form">
            <button type="submit" class="btn-submit btn-signin" [routerLink]="['/therapist-signin']">Sign in</button>
            <p class="go-back-link" [routerLink]="['/therapist-signup']">
                <i class="fas fa-long-arrow-alt-left"></i>
                Go back to Sign up page
            </p>
        </form>
        <img src="/assets/images/secure-login.svg" class="signin-image" alt="">
    </div>
</div>
<app-footer></app-footer>
