<div class="reviews">
  <div
    id="reviewscarousel"
    class="reviews-carousel carousel slide"
    data-bs-ride="carousel"
  >
    <div id="carousel-inner" class="carousel-inner">
      <div id="carousel-item" class="carousel-item active">
        <p class="cip">
          Worldwide awards and the best customer satisfaction ratio
        </p>
        <div class="carousel-inner-bottom">
          <div class="cibl">
            <div class="cibl-img">
              <img src="./assets/images/image_1.svg" alt="" />
            </div>
            <div class="cibl-text">
              <p class="cibl-name">Robert Junior</p>
              <br />
              <p class="cibl-com">Slack</p>
            </div>
          </div>
          <div class="cibr">
            <p>
              "The biggest achievement I've made is, truly, fighting for myself.
              Through working with Aiko and taking the time to discuss various
              issues with her, I've become a bigger advocate for myself, and I'm
              so proud of that."
            </p>
          </div>
        </div>
      </div>
      <div id="carousel-item" class="carousel-item">
        <p class="cip">
          Worldwide awards and the best customer satisfaction ratio
        </p>
        <div class="carousel-inner-bottom">
          <div class="cibl d-flex">
            <div class="cibl-img">
              <img src="./assets/images/image_1.svg" alt="" />
            </div>
            <div class="cibl-text">
              <p class="cibl-name">Richard Pall</p>
              <br />
              <p class="cibl-com">Microsoft</p>
            </div>
          </div>
          <div class="cibr">
            <p>
              I’ve shared things with my counselor that I’ve never even been
              able to acknowledge myself. I have now been working with my
              counselor.
            </p>
          </div>
        </div>
      </div>
      <div id="carousel-item" class="carousel-item">
        <p class="cip">
          Worldwide awards and the best customer satisfaction ratio
        </p>
        <div class="carousel-inner-bottom">
          <div class="cibl d-flex">
            <div class="cibl-img">
              <img src="./assets/images/image_1.svg" alt="" />
            </div>
            <div class="cibl-text">
              <p class="cibl-name">Jessica Poster</p>
              <br />
              <p class="cibl-com">Facebook</p>
            </div>
          </div>
          <div class="cibr">
            <p>
              "I am a totally different person now than when I signed up 19
              months ago. I have found my voice and can speak up for myself
              now....My confidence level is also better than it ever has been."
            </p>
          </div>
        </div>
      </div>
      <div id="carousel-item" class="carousel-item">
        <p class="cip">
          Worldwide awards and the best customer satisfaction ratio
        </p>
        <div class="carousel-inner-bottom">
          <div class="cibl d-flex">
            <div class="cibl-img">
              <img src="./assets/images/image_1.svg" alt="" />
            </div>
            <div class="cibl-text">
              <p class="cibl-name">Brad Manson</p>
              <br />
              <p class="cibl-com">Google</p>
            </div>
          </div>
          <div class="cibr">
            <p>
              I previously saw an in-person therapist for a few months at the
              end of last year. At first, I thought the in-person therapy was
              beneficial because I was getting out a lot.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="c-indicators mb-5">
      <i
        data-bs-target="#reviewscarousel"
        data-bs-slide="prev"
        class="arrow fas fa-arrow-left"
      ></i>
      <div class="carousel-indicators">
        <div class="ci-btns">
          <button
            type="button"
            data-bs-target="#reviewscarousel"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#reviewscarousel"
            data-bs-slide-to="1"
            aria-label="Slide 2"
          ></button>
          <button
            type="button"
            data-bs-target="#reviewscarousel"
            data-bs-slide-to="2"
            aria-label="Slide 3"
          ></button>
          <button
            type="button"
            data-bs-target="#reviewscarousel"
            data-bs-slide-to="3"
            aria-label="Slide 4"
          ></button>
        </div>
      </div>
      <i
        data-bs-target="#reviewscarousel"
        data-bs-slide="next"
        class="arrow fas fa-arrow-right"
      ></i>
    </div>
  </div>
</div>
