.send-email{
    display: flex;
    flex-direction: column;
    max-width: 550px;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: -3px 2px 24px rgba(120, 137, 165, 0.3);
    padding: 1.5rem;
}
.email{
    border-radius: 5px;
    border: 1px solid #ced4da;
    padding: 0.5rem;
    margin-bottom: 1rem;
}
.btn-submit{
    border-radius: 50px;
    background: var(--bg-primary);
    width: max-content;
    color: #fff;
    margin: 0 auto;
    font-weight: 600;
    padding: 0.5rem 1rem
}
label{
    text-align: left;
    font-weight: 600;
    margin-bottom: 0.4rem;
}
small{
    text-align: left;
}
.to-login{
    font-weight: 500;
}
span{
    color: blue;
    cursor: pointer;
}
.form-title{
    font-weight: 600;
    margin-bottom: 0.5rem;
}
@media only screen and (max-width: 500px) {
    .to-login{
        font-size: 14px;
    }
    .form-title{
        font-size: 18px;
    }
    img{
        width: 20rem;
    }
    .tag{
        font-size: 18px;
        margin: 2rem 0;
    }
    label{
        font-size: 15px;
    }
    .send-email{
        padding: 1rem;
    }
}