<div class="container text-center mt-4">
    <img style="max-width: 60px" src="./assets/images/logo_blue.svg" />
    <h4 class="fw-bold mt-2" style="color: var(--bg-primary)">LEAPIFYTALK</h4>
    <h3 class="fw-bold my-3 tag">Tag Line of the company</h3>
    <form #emailForm="ngForm" class="send-email" (submit)="emailForm.valid&&onSubmit()">
        <h4 class="form-title">Forgot Password</h4>
        <p class="to-login">Did you know the password? <span [routerLink]="['/therapist-signin']">Login</span></p>
        <label for="email">Email Address</label>
        <input type="text" id="email" name="email" required #email="ngModel" [pattern]="emailPattern" [(ngModel)]="data.email" class="email">
        <small class="text-danger" *ngIf="email.touched&&email.errors?.required">Email is required</small>
        <small class="text-danger" *ngIf="email.touched&&email.errors?.pattern">Enter a valid email address</small>
        <input type="submit" class="btn btn-submit" value="Request reset password">
    </form>
</div>
